*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
}

.container {  
  height: 100vh;
  width: 100vw;
  background-position: bottom;
}

.weather{
  background: rgba(255, 255, 255, 0.20);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.4px);
  -webkit-backdrop-filter: blur(4.4px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  min-width: 5%;
  float: left;
  position: absolute;
  padding: 2%;
  bottom: 2%;
  left: 2%;
}

.temp {
  background: rgba(255, 255, 255, 0.20);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.4px);
  -webkit-backdrop-filter: blur(4.4px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  min-width: 5%;
  float:left;
  font-size: 2rem;
  align-items: left;
  text-align: left;
  padding: 2%;
  position: absolute;
  top: 2%;
  left: 2%;
}

.temp-feel {
  display: flex; 
  margin: 5px;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}

#location {
  font-size: 3rem;
  font-weight: 800;
  font-style: bold;
}

.desc {
  font-size: 1.25rem;
  text-transform: capitalize;
  color: white;
}

.location{
  color: white;
}

.c{
  color: white;
}

.f{
  color: white;
}

.wind{
  color:white;
  text-align: left;
  font-size: 1rem;
}

.misc-data{
  color:white;
  text-align: left;
  font-size: 1rem;
}

.live-clock{
  color:white;
  text-align: right;
  font-size: 2rem;
  float: right;
  position: relative;
  top: 2%;
  right: 2%
}

.current-state{
  position: relative;
  float: left;
  width: 20%;
}

.min-max{
  text-align: left;
  min-width: 20%;
  color: rgb(255, 255, 255);
  font-size: 1rem;
}

.forecast{
  position:absolute;
  bottom:2%;
  right:2%;
  min-width: 10%;
  min-height: 15%;
}

.forecast1{
  background: rgba(255, 255, 255, 0.20);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.4px);
  -webkit-backdrop-filter: blur(4.4px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  min-width: 5%;
  min-height: 10%;
  color: white;
  padding: 2%;
}

.forecast2{
  background: rgba(255, 255, 255, 0.20);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.4px);
  -webkit-backdrop-filter: blur(4.4px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  min-width: 5%;
  min-height: 10%;
  color: white;
  padding: 2%;
}

.forecast3{
  background: rgba(255, 255, 255, 0.20);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.4px);
  -webkit-backdrop-filter: blur(4.4px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  min-width: 5%;
  min-height: 10%;
  color: white;
  padding: 2%;
}

.forecast4{
  background: rgba(255, 255, 255, 0.20);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.4px);
  -webkit-backdrop-filter: blur(4.4px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  min-width: 5%;
  min-height: 10%;
  color: white;
  padding: 2%;
}

.forecast5{
  background: rgba(255, 255, 255, 0.20);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.4px);
  -webkit-backdrop-filter: blur(4.4px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  min-width: 5%;
  min-height: 10%;
  color: white;
  padding: 2%;
}

.forecast6{
  background: rgba(255, 255, 255, 0.20);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.4px);
  -webkit-backdrop-filter: blur(4.4px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  min-width: 5%;
  min-height: 10%;
  color: white;
  padding: 2%;
}